
<div class="container">
  {{#if showDialog}}
  {{#paper-dialog class="flex-77" escapeToClose=false focusOnOpen=false}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <span class="flex-5"></span><h2>Select your symbol</h2>
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content }}
        <p>Do you want to be <b>X</b> or <b>O</b>?</p>
    {{/paper-dialog-content}}
    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "selectSymbol" "X")}}X{{/paper-button}}
      {{#paper-button onClick=(action "selectSymbol" "O") }}O{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}

{{#if showReset}}
  {{end-game-modal outcome=outcome quit='quit' reset='reset'}}
{{/if}}

  <h1 class="text-center">Tic Tac Toe</h1>
  <div class="board-container">
    <div class="row">
      <div class="box text-center" {{action 'markBox' playerOne 'one' 1}}>{{one}}</div>
      <div class="box text-center" {{action 'markBox' playerOne 'two' 2}}>{{two}}</div>
      <div class="box text-center" {{action 'markBox' playerOne 'three' 3}}>{{three}}</div>
    </div>
    <div class="row">
      <div class="box text-center" {{action 'markBox' playerOne 'four' 4}}>{{four}}</div>
      <div class="box text-center" {{action 'markBox' playerOne 'five' 5}}>{{five}}</div>
      <div class="box text-center" {{action 'markBox' playerOne 'six' 6}}>{{six}}</div>
    </div>
    <div class="row">
      <div class="box text-center" {{action 'markBox' playerOne 'seven' 7}}>{{seven}}</div>
      <div class="box text-center" {{action 'markBox' playerOne 'eight' 8}}>{{eight}}</div>
      <div class="box text-center" {{action 'markBox' playerOne 'nine' 9}}>{{nine}}</div>
    </div>
  </div>

  <br>
  <p class="text-center"><a href="https://github.com/tchan/ember-tic-tac-toe">View Source</a></p>
</div>
{{ember-load-remover}}
